@using Cs_Plantlover.Models
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<OrderHeader>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="text-center">Danh Sách Đơn Hàng</h1>

<hr />

<p>@TempData["Message"]</p>
<table class="table">
    <thead>
        <tr class="table-dark">
            <th>
                Mã đơn
            </th>
            <th>
                Tên
            </th>
            <th>
                Ngày đặt 
            </th>
            
            <th>
                Giá
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Thanh toán
            </th>
            
            <th>
                Số điện thoại
            </th>
            <th>
                Địa chỉ
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="table-success">
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.OrderTotal)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentStatus)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td class="address-info">
                @Html.DisplayFor(modelItem => item.StreetAddress),
                @Html.DisplayFor(modelItem => item.Village),
                @Html.DisplayFor(modelItem => item.District),
                @Html.DisplayFor(modelItem => item.City) 
            </td>
            <td>
                    @* <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i></a> | *@
                    <a asp-action="DeleteOrder" asp-route-id="@item.Id"><i class="fa-solid fa-trash-can"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), new PagedListRenderOptions()
{
    LiElementClasses = new List<string> { "page-item" },
    PageClasses = new List<string> { "page-link" }
})