@using Cs_Plantlover.Models
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<ChiTietSP>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "ChiTietSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="text-center">Danh Sách Chi Tiết Về Sản Phẩm</h1>
<hr />
<p>
    <a class="btn btn-primary" asp-action="ThemChiTietSanPham"><i class="fas fa-plus"></i> &nbsp; Create New Product</a>
</p>
<p>@TempData["Message"]</p>
<table class="table">
    <thead>
        <tr class="table-warning">
            <th>
                Mã sản phẩm
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Đơn giá bán
            </th>
            <th>
                Giảm giá
            <th>
                Giá bán
            </th>
            <th>
                Số lượng
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="table-success">
            <td>
                @Html.DisplayFor(modelItem => item.MaSP)
            </td>
            <td>
                <img src="@item.HinhAnh" alt="Hinh Anh San Pham" style="width: 100px; height: 100px;" />
                  
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGiaBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiamGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                    <a asp-action="SuaChiTietSanPham" asp-route-maChiTietSP="@item.MaChiTietSP">Edit</a> |
                    <a asp-action="XoaChiTietSanPham" asp-route-maChiTietSP="@item.MaChiTietSP">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@Html.PagedListPager(Model, page => Url.Action("ChiTietSanPham", new { page = page }), new PagedListRenderOptions()
{
    LiElementClasses = new List<string> { "page-item" },
    PageClasses = new List<string> { "page-link" }
})
