@using Cs_Plantlover.Models
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<DanhMucSP>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "DanhMucSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h1 class="text-center">Danh Mục Các Sản Phẩm</h1>
<hr />
<p>
    <a class="btn btn-primary" asp-action="ThemSanPhamMoi"><i class="fas fa-plus"></i> &nbsp; Create New Product</a>
</p>
<p>@TempData["Message"]</p>
<div class="order-details common-card">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr class="card-header">
                    <th>Mã sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    <th>Hình ảnh</th>
                    <th>Mô tả</th>
                    <th>Mã chức năng</th>
                    <th>Mã vị trí</th>
                    <th>Mã kích thước</th>
                    <th>Mã môi trường sống</th>
                    <th>Giá bán</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="table-secondary">
                        <td>@Html.DisplayFor(modelItem => item.MaSP)</td>
                        <td>@Html.DisplayFor(modelItem => item.TenSP)</td>
                        <td><img src="@item.AnhDaiDien" alt="Hinh Anh San Pham" style="width: 100px; height: 100px;" /></td>
                        <td style="max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@Html.Raw(item.MoTa)</td>
                        <td>@Html.DisplayFor(modelItem => item.MaChucNang)</td>
                        <td>@Html.DisplayFor(modelItem => item.MaViTri)</td>
                        <td>@Html.DisplayFor(modelItem => item.MaKichThuoc)</td>
                        <td>@Html.DisplayFor(modelItem => item.MaMoiTruongSong)</td>
                        <td>@Html.DisplayFor(modelItem => item.GiaBan)</td>
                        <td>
                            <a asp-action="SuaSanPham" asp-route-maSanPham="@item.MaSP"><i class="fa-solid fa-pen-to-square"></i></a> |
                            <a asp-action="XoaSanPham" asp-route-maSanPham="@item.MaSP"><i class="fa-solid fa-trash-can"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@Html.PagedListPager(Model, page => Url.Action("DanhMucSanPham", new { page = page }), new PagedListRenderOptions()
{
    LiElementClasses = new List<string> { "page-item" },
    PageClasses = new List<string> { "page-link" }
})

<style>
    .common-card {
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
        margin-bottom: 20px;
    }

    .card-header {
        background-color: #7eae37;
        color: white;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .table-responsive {
        overflow-x: auto;
        width: 100%;
    }

    .order-details table {
        width: 100%;
        margin-top: 20px;
        border-collapse: separate;
    }

    .order-details thead th {
        position: sticky;
        top: 0;
        background-color: #7eae37; /* Ensure the header has the same background color */
        z-index: 2;
    }

    /* Optional: Customize the scrollbar */
    .table-responsive::-webkit-scrollbar {
        height: 12px;
    }

    .table-responsive::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .table-responsive::-webkit-scrollbar-thumb {
        background: #888;
    }

        .table-responsive::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
</style>
