@using Cs_Plantlover.Models
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<LeaveMessenger>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "LeaveMessenger";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="text-center">Tin Nhắn Khách Hàng</h1>
<p>@TempData["Message"]</p>
<hr />
<div class="order-details common-card">
    <table class="table table-striped">
        <thead>
            <tr class="card-header">
                <th>
                    Tên khách hàng
                </th>
                <th>
                    Email
                </th>
                <th>
                    Messenger
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr class="table-secondary">
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Messenger)
                </td>
                <td>
                        <a asp-action="DetailLeaveMessenger" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square"></i></a> |
                        <a asp-action="XoaLeaveMessenger" asp-route-id="@item.Id"><i class="fa-solid fa-trash-can"></i></a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
@Html.PagedListPager(Model, page => Url.Action("LeaveMessenger", new { page = page }), new PagedListRenderOptions()
{
        LiElementClasses = new List<string> { "page-item" }, 
        PageClasses = new List<string> { "page-link" } 
 })
<style>
    .button-icon {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        font-size: inherit;
        color: red;
    }

    .btn {
        padding: 0.875rem 1.5rem;
    }

    .button-lock {
        cursor: pointer;
    }

    .common-card {
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
        margin-bottom: 20px;
    }

    .card-header {
        background-color: #7eae37;
        color: white;
    }


    .order-details table {
        width: 100%;
        margin-top: 20px;
    }

</style>