@model X.PagedList.IPagedList<ViTri>
@using Cs_Plantlover.Models
@using X.PagedList.Mvc.Core;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "ViTriSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="text-center">Vị Trí Các Sản Phẩm</h1>
<hr />
<p>
    <a class="btn btn-primary" asp-action="ThemViTri"><i class="fas fa-plus"></i> &nbsp; Create New Location</a>
</p>
<p>@TempData["Message"]</p>
<div class="order-details common-card">
    <table class="table table-striped">
        <thead>
            <tr class="card-header">
                <th>
                    Mã vị trí
                </th>
                <th>
                    Tên vị trí
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr class="table-secondary">
               <td>
                   @Html.DisplayFor(modelItem => item.MaViTri)
               </td>
               <td>
                   @Html.DisplayFor(modelItem => item.TenViTri)
               </td>
                <td>
                        <a asp-action="SuaViTri" asp-route-maViTri="@item.MaViTri"><i class="fa-solid fa-pen-to-square"></i></a> |
                        <a asp-action="XoaViTri" asp-route-maViTri="@item.MaViTri"><i class="fa-solid fa-trash-can"></i></a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
@Html.PagedListPager(Model, page => Url.Action("ViTriSanPham", new { page = page }), new PagedListRenderOptions()
{
    LiElementClasses = new List<string> { "page-item" },
    PageClasses = new List<string> { "page-link" }
})
<style>


    .common-card {
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
        margin-bottom: 20px;
    }

    .card-header {
        background-color: #7eae37;
        color: white;
    }


    .order-details table {
        width: 100%;
        margin-top: 20px;
    }

</style>